<!DOCTYPE html>
<html>
  <head>
    <title>Afromakers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li><%= current_user.username %></li>
    <% end %>
    <%= yield %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </body>
</html>
